.uploader__box{
	min-width: 80px;
	/*width: 280px;*/
	height: 35px;
	overflow:hidden;
	position: relative;
	display: inline-block;
}
.uploader__input{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	height: 30px;
	
}
.uploader__button{
	cursor: pointer;
	height:30px;
	line-height: 30px;
	width: 100%;
	outline: none;
	border: none;
	background:  white;
	color: white;
	border: 1px solid #f6a811;
	color:#f6a811;
	font-size: 14px;
}

