@value link_color: #0196f2;

*{
	text-decoration:none;
}
.claim_tips{
	text-align: center;
	font-size:14px;
	height:30px;
	line-height:30px;
	width:100%;
	display:block;
	color:link_color;
}
.return--clear{
	margin-top:10px;
	overflow: hidden;
	margin-right:15px;
}
.detail_content--wrap{
	width:100%;
	height:auto;
	padding-left:15px;
}
.enterprise{
	width:100%;
	height:auto;
}
.title{
    line-height: 33px;
	height:33px;
	background:#f1f1f1;
	display: block;
	padding-left:10px;
}
.enterprise-content{
	width:100%;
	padding:10px;
	overflow: hidden;
	height:auto;
	background:white;
	
}
.company-title{
	width:100%;
	height:40px;
	line-height: 40px;
	font-size:20px;
	color:#2e2e2e;
}
.company-content{
	width:100%;
	height:auto;
	background:white;
}
.company-content li{
	width:50%;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#7b7b7b;
	float:left;
}
/*guarantee*/
.guarantee{
	width:100%;
	height:auto;
}
.guarantee-content{
	overflow: hidden;
	height:auto;
	background:white;
	padding:10px;
}

.guarantee-list{
	width:100%;
	height:auto;
	background:white;
	position: relative;
	overflow: hidden;
}

.guarantee-list li{
	width:50%;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#7b7b7b;
	float:left;
}
.more{
	width:50%;
	height:30px;
	line-height:30px;
	float:right !important;
}
.more a{
	color:link_color;
	font-size:14px;
}
.guarantee-img{
	position:absolute;
	width:78px;
	height:63px;
	right:5%;
	top:26px;
}
/*claim*/
.claim{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.claim-title{
	padding-left:10px;
	height:44px;
	line-height:44px;
}
.claim-content{
	
	overflow: hidden;
	height:auto;
	background:white;
	padding:10px;
}

.claim-list{
	width:100%;
	height:auto;
	background:white;
	position: relative;
	display:inline-block;
}

.claim-list li{
	width:50%;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#7b7b7b;
	float:left;
}
.more{
	width:100%;
	height:30px;
	line-height:30px;
	margin-top:15px;
	text-align: center;
	background:white;
	
}
.more a{
	color:link_color;
	font-size:14px;
}
/*andit*/
.andit{
	width:100%;
	height:auto;
	
}
.andit-title{
	height:40px;
	line-height:40px;
	padding-left:10px;
	
}
.audit-content{
	width:auto;
	height:auto;
	padding-left:10px;
	padding-right:10px;
	background:white;
	/*margin-top:10px;*/
	overflow: hidden;
	margin-bottom:50px;
}
.audit-button{
	overflow: hidden;
	margin-top:10px;

}
.audit-content--onelist{
	width:100%;
	height:auto;
	background:white;
	padding-top:5px;
	border-left:1px solid #cbcbcb;
}

.tips{
	width:18px;
	height:18px;
	border-radius:50%;
	float:left;
	margin-left:-10px;
	z-index:999;
	color:white;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
}

.circle{
	background:#fe9f0d;
	composes:tips;
}

.circle--enterprise{
	background:#c8c8c8;
	composes:tips;
}

.tips--two{
	width:130px;
	height:24px;
	border-radius:10px;
	background:#fe9f0d;
	float:left;
	margin-top:-2px;
	margin-left:10px;
	text-align: center;
	line-height:24px;
	font-size:12px;
	color:#6d755e;
}
.time{
	background:#fe9f0d;
	composes:tips--two;
}

.time--enterprise{
	background:#c8c8c8;
	composes:tips--two;
}
.main{
	width:auto;
	height:auto;
	background:#ffffff;
	margin-top:30px;
	padding-left:10px;
	padding-bottom:10px;
}
.information{
	width:100%;
	height:auto;
	background:#f1f1f1;
	padding-left:10px;
	overflow: hidden;
}
.name{
	width:auto;
	height:auto;
	line-height:32px;
	font-size:14px;
	color:#575757;
}
.name span{
	width:auto;
	height:auto;
	line-height:32px;
	font-size:14px;
	padding-left: 0.5em;
}
.name-img{
	width:100%;
	height:auto;
	margin-bottom:10px;
	overflow: hidden;
}
.name-img_li{
	width:100px;
	height:80px;
	float:left;
	margin-right:10px;
}

.name-img_li img{
	width:100px;
	height:80px;
	border: 1px solid #eee;
}

.clear{
	clear:both;
}

.audit-more{
	width:100%;
	height:50px;
	text-align: center;
	line-height:50px;
	font-size:14px;
	color:link_color;
}
.audit-more a{
	color:link_color;
}

/*审核结果弹窗css*/
.auditingresult{
	width:612px;
	height:370px;
	background:white;
	border-radius:10px;
	padding:10px 10px;
	position: fixed;
	margin-top:-185px;
	margin-left:-306px;
	left: 50%;
	top: 50%;
	z-index:1000;
	font-size: 14px;
}
.res--title{
	width:100%;
	height:42px;
	line-height:42px;
	font-size:18px;
	color:#383838;
	text-align: center;
}
.res-select{
	width:100%;
	height:38px;
	line-height:38px;
}
.res-selest_name{
	width:25%;
	display:inline-block;
	text-align: right;
	color:#383838;
	font-size:12px;
}
.res-selest_name img{
	margin-right:3px;
}
.res-selest_content{
	width:60%;
	display:inline-block;
	margin-left:1%;
}
.res--radio{
	width:100%;
	height:50px;
	line-height:50px;
	color:#383838;
}
.res--remark{
	width:100%;
	height:auto;
	margin-bottom:17px;
	display:inline-block;
}
.res-remark_name{
	width:25%;
	display:block;
	text-align: right;
	color:#383838;
	float:left;
	font-size:12px;
}
.res-remark_content{
	width:60%;
	display:block;
	margin-left:1%;
	float:left;
}
.res-remark_content textarea{
	max-height:70px;
	max-width:100%;
    min-width: 100%;
    min-height: 60px;
	border:1px solid #ccc;
	font-family:"微软雅黑";
}
.res--picture{
	width:100%;
	height:78px;
	margin-bottom:15px;
}
.res-picture_name{
	width:25%;
	height:78px;
	float:left;
	text-align: right;
	color:#383838;
	font-size:12px;
}
.res-picture_pic{
	width:60%;
	height:78px;
	margin-left:1%;
	float:left;
}
.res-picture_pic li{

	width:calc((100% - 10px*4 )/5);
	height:70px;
	display: inline-block;
	float:left;
	border:1px solid #ccc;
	margin-right:10px;
	position: relative;
}
.res-picture_pic li img{
	width:100%;
	height:100%;
}

li.res-remark--upload{
	margin-right: 0;
	background-color: white;
	background: url("../img/add.png") no-repeat center;	
	background-size: 50% 50%;
	border:1px solid #ccc;
	z-index: 1;
}

.res-remark--upload input{
	opacity: 0;
	z-index: 10;
}

.dialog--shade{
	background: #999999;
	opacity: 0.9;
	position: fixed;
	width: 100%;
	height: 100%;
	left:0;
	top: 0; 
	z-index: 999
}

.res-selest_content>span{
	width: 50px;
	height: 35px;
	line-height: 35px;
	background: url("../img/not-select.png") no-repeat left ;
	text-indent: 18px;
	display: inline-block;
	cursor: pointer;
}
span.res--active{
	background: url("../img/select.png") no-repeat left ;
}

.delete_attach{
	width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: -6px;
    top: -6px;
	background: url("../img/delete.png") no-repeat center;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgba(255, 0, 0, 0.32);
    cursor: pointer;
}

/*更多保单信息*/
.more-warrant-list{
	width: 80%;
	height: 80%;
	background:white;
	overflow: auto;
	position: fixed;
	left: 10%;
	top: 10%;
	z-index: 1000;
	padding: 15px;
}
.more--warranty--list:after{
	content: "";
    display: block;
    height: 1px;
    width: 96%;
    background: #ccc;
    margin: 10px 2%;
}
