
.table--list{
	background: white;
	padding-bottom:17px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
	padding-top:18px;
	font-family:"微软雅黑";

}
.table--main{
	width:100%;
	border:1px; 
	table-layout: fixed;
}
.table_title{
	width:100%;
	background:#ececec;
	height:36px;
	font-family:"微软雅黑";
	font-size:14px;
	line-height:36px;
	color:#666666;
	text-align:center;
}

.table_row{
	width:100%;
	background:#ececec;
	height:36px;
	line-height:36px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#666666;
	text-align:center;
}
.table_row a{
	text-decoration: none;
	color:red;
	text-align:center;
}
.search--pie{
	overflow:hidden;
	clear: both;
	padding:10px 15px; 	
}
.search--pie input{
	padding: 0;
	text-indent: 15px;
	border-radius: 0;
}
.pagination{
	float: right;
	margin-top: 10px;
}
.search--pie button{
	border-radius: 0;
}
.search--pie select,
.search--pie input{
	box-shadow: none;
}