@value red_color: #e2161f;

.maint--container{
	background: white;
	height:240px;
	margin-bottom:10px;
	font-family:"微软雅黑";

}
.information{
	width:100%;
	height:auto;
}
.name{
	width:auto;
	display: inline-block;
	font-size:14px;
	color:#8c8c8c;
}
.content{
	width:auto;
	display: inline-block;
	font-size:16px;
	color:#000000;
	margin-left:3px;
}
.wrap--img{
	width:35%;
	height: 100%;
	display: inline-block;
	position: relative;
	padding-left: 100px;
}
.wrap--right{
	width:65%;
	height: 100%;
	display: inline-block;
}
.information--login{
	width:200px;
	height:173px;
	margin-top:35px;
	margin-right:35px;
	position: absolute;
	/*left: 0;*/
	top:0;
}
.common--upload{
	composes:information--login;
	opacity: 0;
	z-index: 10;
}
.logo--tips{
	composes:information--login;
	background-color: #999999;
	opacity: 0.6;
	cursor: pointer;
}
.logo--tips p{
	height: 35px;
    margin-top: 69px;
    font-size: 24px;
    text-align: center;
    color: #ffcc0f
}



.information--login img{
	width: 100%;
	height: 100%;
}
.information--title{
	display:block;
	float:left;
	height:100px;
	margin-top:70px;
	width:100%;
}
.company{
	height:50px;
	line-height:50px;
	font-size:16px;
	width:100%;
	
}


.claim--container{
	background: white;
	height:auto;
	margin-bottom:10px;
	font-family:"微软雅黑";
	padding-left:100px;
	overflow: hidden;
	padding-top:10px;
	padding-bottom:2px;
}
.claim--person{
	width:50%;
	min-height:45px;
	color:#666666;
	margin-top:10px;
	display:inline-block;
}

.person--name{
	width:110px;
	text-align: right;
	float:left;
	display: block;
	line-height:30px;
	font-size:14px;
	color:#8c8c8c;
}
.person--input{
	float:left;
	display: block;
	color:#333333;
	padding-left:5px;
}


.clear{
	overflow: hidden;
	margin:8px 0px;
	padding:0 15px;
}

.company--name{
	width:100px;
	height:50px;
	display: block;
	float:left;
	font-size:14px;
	color:#8c8c8c !important;
	text-align: center;
}
.company--name--title{
	width:75%;
	height:50px;
	float:left;
	color:black;
}
.tips{
	display: block;
	font-size:12px;
}

.prompt{
	color:red_color;
	composes:tips;
	display: block;
	height: 24px;
    line-height: 24px;
}
.claim--container input{
	color:black;
	font-size:'14px'
}

.base--submit{
	width:100%;
	overflow:hidden	;
	padding: 10px;
}
.base--submit button{
	background:rgb(246, 168, 17);
}